## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [30]:
import pandas as pd
import numpy as np

In [50]:
country=["USA" , "Taiwan" , "China"]
people=[100, 1000, 10000]
data = {'country': country ,
        'people': people 
       }

In [51]:
data = pd.DataFrame(data)
print(data)

  country  people
0     USA     100
1  Taiwan    1000
2   China   10000

In [53]:
data.describe()

             people
count      3.000000
mean    3700.000000
std     5474.486277
min      100.000000
25%      550.000000
50%     1000.000000
75%     5500.000000
max    10000.000000